altair
asgiref
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
contourpy
crispy-bootstrap5
cycler
DateTime
decorator
distlib
Django
django-bootstrap-v5
django-crispy-forms
django-widget-tweaks
entrypoints
filelock
fonttools
gevent
gitdb
GitPython
greenlet
gunicorn
idna
importlib-metadata
Jinja2
joblib
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
packaging
pandas
patsy
Pillow
platformdirs
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
pyspark
python-dateutil
pytz
requests
rich
scipy
six
smmap
sqlparse
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
watchdog
whitenoise
zipp
zope.event
zope.interface
